
.name span {
  position: relative;
  opacity: 0;
  top: 1em;
  animation: animateOverlay 1s ease-in-out forwards;
}

.name span:nth-child(1n) {
  color: #ff5959;
}

.name span:nth-child(2n) {
  color: #facf5a;
}

.name span:nth-child(5n) {
  color: #085f63;
  animation-delay: .5s;
}

.name span:nth-child(6n) {
  color: #49beb7;
}

.name span:nth-child(3) {
  color: #085f63;
}

.name span:nth-child(13) {
  color: #085f63;
}

.name span:nth-child(14) {
  animation-delay: 0s;
}

.name span:nth-child(3n) {
  animation-delay: 2s;
}

.name span:nth-child(6) {
  animation-delay: .8s;
}

.name span:nth-child(4) {
  animation-delay: 1.2s;
}

@media only screen and (min-width: 768px) {
  .name {
    font-size: 8em;
  }
}

@keyframes animateOverlay {
  to {
    opacity: 1;
    top: 0;
  }
}
